html{font-family: Helvetica, Arial, sans-serif;}
@media (min-width:1400px){
    html{font-size:18px; zoom:100%;}
}
@media (max-width:1400px){html{font-size:18px;}}


@media (max-width:700px){html{font-size:18px;}}


body {color:white; background-color: #000531; margin: auto; max-width: 700px; }
/*@media (min-width:1400px){bodywidth: 1400px ;}}*/


.col1 {width:40px;}
.col2 {width:90px;}
.col3 {width:550px;}
.col4 {width:60px;}
.col5 {width:60px;}





/*div# {background-color:#ffffff;}*/

div#divRole {position: relative; height:70px;}
label.cbLabel {margin-left: 0px; margin-right: 8px;}

input#ratio {position: relative; left:140px;}

div#headText {position: relative; height:70px;}


h1 {font-size: 1.5rem;}







	
	
.cb{
    opacity: 0;
    
}

.cbLabel {
    display: inline-block;
}

.cbLabel > img  {
	border-radius: 50%;
	width: 40px;
	height: 40px;
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    border: 3px solid transparent;
}

.cb:checked + .cbLabel > img {
    border: 3px solid white;
}



tblGood {
    table-layout: fixed;
    width: 100%;
}

td > img {
    border: 8px solid #170039; 
    border-radius: 15%; 
    width: 90px; 
    height = 90px; 
    /*position: absolute; top:0; left:50px; z-index: 10;";*/
}
