html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/*@media (min-width:1400px){
    html{font-size:18px; zoom:100%;}
}
@media (max-width:1400px){html{font-size:18px;}}


@media (max-width:700px){html{font-size:18px;}} */

body {
  color: white;
  background-color: #000429;
  margin: auto;
  /*max-width: 400px;*/
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

#guideRatio {
  font-size: 0.8em;
}

/*@media (min-width:1400px){bodywidth: 1400px ;}}*/

.col1 {
  width: 30px;
}
.col2 {
  width: 50px;
}
.col3 {
  width: 40px;
  font-size: 12px;
}

.col4 {
  width: 150px;
}
.col5 {
  width: 65px;
}
.col6 {
  width: 45px;
}

h1 {
  font-size: 1.5rem;
}

#tblGood {
  margin: auto;
  border-radius: 0px;
  table-layout: fixed;
}

#tblGood td,
#tblGood th {
  font-weight: normal;
  word-break: break-all;
  border-radius: 0px;
}

td > img {
  border-radius: 15%;
  padding: auto;
  width: 50px;
  height: 50px;
  /*position: absolute; top:0; left:50px; z-index: 10;";*/
}

#divMap,
#divDifficulty,
#divRole {
  display: inline-block;
}

#sltMap,
#sltDifficulty,
#sltRole {
  font-size: 1.1em;
  height: 30px;
}

#sltMap {
  width: 160px;
}

#sltDifficulty {
  width: 100px;
}

#sltRole {
  width: 110px;
}

#divRatio > p,
#divRatio > input,
#divContact > p,
#divContact > a {
  position: static;
  display: inline;
}

#divRatio {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
}

#divContact > a {
  color: white;
}

table tr:nth-child(2n + 2) {
  background-color: #0f1445;
}
