html{font-size:15px;
    font-family: Helvetica, Arial, sans-serif;
}
@media (max-width:1400px){html{font-size:18px;}}
@media (max-width:700px){html{font-size:27px;}}



body {color:white; background-color: #170039; margin: auto;}
body{width: 720px ; }
//@media (max-width:1200px){body{;}}
//@media (max-width:720px){body{width: 720px ;}}


div# {background-color:#ffffff;}

div#role {position: relative; height:90px;}

div.dRank {background-color:#000000;}







input#role {}
input#ratio {position: relative; left:140px;}

div#headText {position: relative; height:70px;}

p.pHT {font-size: 1.2rem; color:#cccccc; position: absolute;}

p#pRank {left: 0px;}
p#pHero {left: 70px;}
p#pWinPlay {left: 180px;}
p#pWin {left:510px;}
p#pPlay {left:620px;}


p.pRank {position: absolute; left:20px; top:0px; font-size: 1.5rem; color:#000000; z-index:15;}








	
	
#cbAll {
    display: none;
    border-width: 0px;
}



.cb {
	background-image: url(heroImages/hero02.jpg);
	display: inline-block;
	//background-position: left center;
	background-size: auto 100%;
	
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
}



#cbAll:checked + .cb {
    //background-position: right center;
    //background-image: url(heroImages/hero03.jpg);
    border-width: 8px;
    border-style: solid;
    border-color: white;
}
